logs
unversioned
__pycache__
/testdata/maps.json
/testdata/dumps
/testdata/screenshots/*.png
mysql.general_log*.sql
/dross
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/INSTALL.txt
/web/README.*
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/robots.txt
/web/update.php
/web/web.config
/web/core
/web/modules/contrib
/web/modules/README.*
/web/profiles
/web/sites
/web/themes/contrib
/web/themes/README.*
/vendor
/.idea
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
*~
*.bak
*.dump
.phpunit.result.cache
assets
package
drush/drush.yml
settings.php
.DS_Store
nohup.out
ebms3db.json
