{% if abstract %}
  {% for paragraph in abstract %}
    <h4>{{ paragraph.label|raw }}</h4>
    <p>{{ paragraph.text|raw }}</p>
  {% endfor %}
{% else %}
  <p><em>Article has no abstract</em></p>
{% endif %}
<div>
  <a href="https://pubmed.ncbi.nlm.nih.gov/{{ pmid }}" class="usa-button" target="_blank">View Abstract on PubMed</a>
</div>
